
h1
{
	color: rgb(18, 154, 163); 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
border-width: 10;
background-color: black;
border-style: ridge;
}
